.about-us{
        background-image: url(https://img.freepik.com/free-photo/diverse-businesspeople-having-meeting_53876-103954.jpg?size=626&ext=jpg&ga=GA1.2.465485171.1694704984&semt=ais);
        background-size: cover;
      background-position: center;
      max-height: 2750px;
      }
