<main class="about-us">
    <section class="about-description">
        <h1>About Our Bookstore</h1>
        <p>Welcome to our bookstore, your destination for a world of books and literary adventures.</p>
        <p>At Our Application, we are passionate about the written word and committed to providing a haven for book lovers of all ages. Whether you're seeking a thrilling mystery, a heartwarming romance, a thought-provoking biography, or anything in between, our shelves are stocked with a diverse selection of titles to satisfy every reader's taste.</p>
        <p>Our mission is to foster a love for reading and lifelong learning within our community. We believe that books have the power to inspire, educate, and entertain, and we are dedicated to helping you find the perfect book to accompany you on your journey.</p>
    </section>
    <section class="meet-the-team">
        <h2>Meet Our Team</h2>
        <div class="team-member">
            <!-- <img src="https://image.lexica.art/md2_webp/ebf2f3ba-9907-4c44-9249-b25bbf20356f"> -->
            <h3>Veer Pratap Singh</h3>
            <p>Founder & CEO</p>
        </div>
        <div class="team-member">
            <!-- <img src="https://image.lexica.art/md2_webp/60622695-f28c-4513-95e3-4c18ba0b6937" alt="Jane Smith"> -->
            <h3>Other Member</h3>
            <p>Bookstore Manager</p>
        </div>
        <!-- <div class="team-member">
            <img src="team-member-3.jpg" alt="David Johnson">
            <h3>David Johnson</h3>
            <p>Head Librarian</p>
        </div> -->
    </section>
</main>