<div class="donate-container">
    <h1>Donate to Support Our Cause</h1>
    <p>Your support helps us make a difference!</p>
  
    <div class="donation-amount">
      <label for="amount">Select Donation Amount:</label>
      <select id="amount">
        <option value="10">$10</option>
        <option value="20">$20</option>
        <option value="50">$50</option>
        <option value="100">$100</option>
      </select>
    </div>
  
    <button class="pay-button" (click)="redirectToPayment()">Pay</button>
    
  </div>